section.profile {
	width: 100%;
	padding: 0 60px;
	padding-top: 100px;
}

section.profile h1 {
	display: inline;
	font-family: "ESAllianz-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.888888888888889rem;
	line-height: 4.444444444444445rem;
	letter-spacing: 0rem;
}

section.profile .profile-form {
	display: flex;
	flex-direction: column;
}

section.profile .profile-form label {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 17px !important;
}

section.profile .profile-form .profile-pic {
	display: flex;
	align-items: center;
	margin: 20px 0 0 0;
}

section.profile .profile-form .profile-pic img {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	object-fit: cover;
}

section.profile .profile-form .profile-pic-btn {
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	border-radius: 0%;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
}

section.profile .profile-form .profile-pic-btn p {
	height: 100%;
	font-family: "ESAllianz-Regular", sans-serif;
	justify-content: center;
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 16px;
}

section.profile .profile-form .form-group {
	margin-top: 20px;
}

section.profile .profile-form .form-group label {
	display: block;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 17px;
}

section.profile .profile-form .form-group input {
	display: flex;
	width: 100%;
	margin: 10px 0;
	height: 30px;
	border: none;
	border-bottom: 1px solid #000;
}

section.profile .profile-form .form-group input:focus {
	outline: none;
}

section.profile .profile-form .form-group textarea {
	display: flex;
	width: 100%;
	margin: 10px 0;
	height: 30px;
	border: none;
	border-bottom: 1px solid #000;
}

section.profile .profile-form .form-group textarea:focus {
	outline: none;
}

section.profile .profile-form button {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	border-radius: 0%;
	font-family: "ESAllianz-Regular", sans-serif;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
}
