section.sidebar {
	width: 100%;
	padding: 0 30px;
	padding-top: 100px;
}

section.sidebar .sidebar-heading h4 {
	width: 100%;
}

section.sidebar .author-img {
	width: 100%;
}

section.sidebar .author-img img {
	width: 260px;
	height: 260px;
	object-fit: cover;
	border-radius: 100%;
}
